name: build from source on many
on:
  workflow_dispatch:
  schedule:
    - cron: '44 4 * * 0'
jobs:
  run-build-stack:
    strategy:
      matrix:
        include:
          - { os: ubuntu-20.04,  CC: gcc-10,   CXX: g++-10,     python: '3.8'  }
          - { os: ubuntu-22.04,  CC: gcc,      CXX: g++,        python: '3.9'  }
          - { os: ubuntu-22.04,  CC: gcc,      CXX: g++,        python: '3.10' }
          - { os: ubuntu-22.04,  CC: clang,    CXX: clang++,    python: '3.11' }
          - { os: ubuntu-22.04,  CC: gcc-12,   CXX: g++-12,     python: '3.11' }
          - { os: macos-11,      CC: clang,    CXX: clang++,    python: "3.10" }
          - { os: macos-12,      CC: clang,    CXX: clang++,    python: "3.11" }
          - { os: macos-13,      CC: clang,    CXX: clang++,    python: "3.11" }
    name: ${{ matrix.os }}.${{ matrix.CC }}.python-${{ matrix.python }}
    runs-on: ${{ matrix.os }}
    env:
      CC: ${{ matrix.CC }}
      CXX: ${{ matrix.CXX }}
    steps:
      - name: checkout_main_repo
        uses: actions/checkout@v3
        with:
          repository: 'openmsr/openmc_install_scripts'
          ref: '${{github.sha}}'
          path: openmc_install_scripts
          submodules: true
      - name: bootstrap_ubuntu22.04
        run: |
          echo ${{ matrix.os }}
          sudo apt-get -y update
        if: ${{ matrix.os }} == 'ubuntu-22.04'
      - name: moab-install
        run: |
          cd openmc_install_scripts/${{ matrix.os}}
          sudo ./moab-install.sh
      - name: double_down-install
        run: |
          cd openmc_install_scripts/${{ matrix.os }}
          sudo ./double_down-install.sh
      - name: dagmc-install
        run: |
          cd openmc_install_scripts/${{ matrix.os }}
          sudo ./dagmc-install.sh
      - name: openmc-install
        run: |
          cd openmc_install_scripts/${{ matrix.os }}
          sudo ./openmc-install.sh
      - name: check if openmc is runnable
        run: |
          /usr/local/lib/bin/openmc -v
