# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Python application

on:
  workflow_dispatch:
  schedule:
    - cron: '44 4 * * 0'
jobs:
  run-openmc-installer:
    runs-on: ubuntu-22.04
    steps:
      - name: checkout_main_repo
        uses: actions/checkout@v3
        with:
          repository: 'openmsr/openmc_install_scripts'
          ref: '${{github.sha}}'
          path: openmc_install_scripts
          submodules: true
      - name: bootstrap
        run: sudo apt-get -y update
      - name: moab-install
        run: |
          cd openmc_install_scripts/Ubuntu_22.04
          ./moab-install.sh
      - name: double_down-install
        run: |
          cd openmc_install_scripts/Ubuntu_22.04
          ./double_down-install.sh
      - name: dagmc-install
        run: |
          cd openmc_install_scripts/Ubuntu_22.04
          ./dagmc-install.sh
      - name: openmc-install
        run: |
          cd openmc_install_scripts/Ubuntu_22.04
          ./openmc-install.sh
      - name: cad-to-openmc-install
        run: |
          cd openmc_install_scripts/Ubuntu_22.04
          ./cad-to-openmc-install.sh
      - name: test-install
        run: |
          sudo apt-get install libgl1-mesa-glx
          cd openmc_install_scripts/tests
          ./run-test.sh
